.PlanetsList 
    color: red
    position: relative
    background-image: url('https://wallpapercave.com/wp/ncbCppR.jpg');
    background-size: cover

h3 
    color: white
    
ul 
    font-family: Times new roman
    list-style-type: none
    border: 1px solid black
